DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza183V0ZTWlBfbk5RSlR0QzFnaVZ4SGEiLCJhcGlfa2V5IjoiMDFLOENaRzhCUzg1VkpFMkI1VDIyVFBSUUgiLCJ0ZW5hbnRfaWQiOiI1ZTdhN2I0MmZhYjFlMjcxY2U2OWEwZDc3YTI2YmI0OGU0MWZjNGQ1ZDc4ZDRmMWNmYTdjYzRlMjNmYzdkZmFlIiwiaW50ZXJuYWxfc2VjcmV0IjoiN2RkMmYzYmUtMTlmOS00YzdkLWJhMzMtYzY2MmVjZWUyYzhjIn0.jB1tBXf_S0E07yR0Pm6wkmlCabOvsl55HNXooCRDEvY"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
GOOGLE_API_KEY=AIzaSyD2a5bjUVl4vif582mwZeQylz9UO7GiUhs